.LoginPopUp{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.LoginPopUpContainer{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.LoginPopUpTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.LoginPopUpTitle img{
    width: 16px;
    cursor: pointer;
}

.LoginPopUpInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.LoginPopUpInputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px ;
    border-radius: 4px;
}

.LoginPopUpContainer button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: black;
    background-color: #eded05;
    font-size: 15px;
    cursor: pointer;
}

.LoginPopUpConditon{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.LoginPopUpConditon input{
    margin-top: 5px;
}

.LoginPopUp p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}